<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Lista con paginador estudiantes</h1>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Grado</th>
            <th>Promedio</th>
            <th>Género</th>
          </tr>
        </thead>
        <tbody>
          <% students.docs.forEach((estudiante) => { %>
            <tr>
              <td><%= estudiante.nombre %> </td>
              <td><%= estudiante.grupo %> </td>
              <td><%= estudiante.calificacion %> </td>
              <td><%= estudiante.genero %> </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <div>
        <% if(students.hasPrevPage) {%>
            <a href="/students?page=<%= students.prevPage %>&limit=10" class="btn btn-primary">Anterior</a>
        <% }%>
        <% if(students.hasNextPage) {%>
            <a href="/students?page=<%= students.nextPage %>&limit=10" class="btn btn-primary">Siguiente</a>
        <% }%>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>